body{
    font-family: 'Montserrat', sans-serif;
}

.start{
    /* background-image: linear-gradient(rgb(148, 146, 146,0.3),rgb(187, 183, 183, 0.3)),url("https://res.cloudinary.com/helencee/image/upload/v1575890818/Images_for_my_website/ipad-iphone-5-macbook-air-and-apple-magic-mouse-on-a-desk-with-a-cup-GHRG5W_pbg1r1.jpg"); */
    /* background-image: linear-gradient(rgba(235, 225, 225, 0.3),rgba(225,225,225,0.3)),url(https://res.cloudinary.com/helencee/image/upload/e_saturation:-71,q_66/v1567006134/first%20images/code_background_g1i892.png); */
    background-image: Url("https://res.cloudinary.com/helencee/image/upload/v1577363700/Images_for_my_website/bluewood_aj0bms.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 80vw;
    margin: auto; 
    color: white; 
}

header nav{
    display: flex;
    flex-direction: row;
}

nav ul li{
    display: inline; 
    margin-right: 5vw;
    /* text-decoration: none; */
    color: white;
}

nav ul a{
    text-decoration: none;
}

#name{
    margin-right: 5vw;
    color: white;
}

.helen{
    width: 10vw;
}

.intro{
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.see{
    background-color: transparent;
    border: 2px solid white;
    width: 10vw;
    height: 8vh;
    box-shadow: 0 4px 4px rgb(44, 43, 43);
}

.see a{
    color: white;
    text-shadow: 0 4px 4px rgb(44, 43, 43);
    font-size: 1rem;
}

.title{
    text-shadow: 0 4px 4px rgb(44, 43, 43);
    text-align: center;
    font-size: 2rem;
}
.title h1{
    font-size: 3rem;
}

/* style for Projects */

.projects{
    height: 100vh;
    width: 80vw;
    margin: auto;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center */
    /* background-image: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwjDn9vrxsrmAhWRyoUKHRslAREQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.dreamstime.com%2Fillustration%2Ffancy-lines-design-background.html&psig=AOvVaw0o1EgHz6xnV59cxfDulx_w&ust=1577148669045139"); */
    
}
.projects h1{
    text-align: center;
    font-size: 36px;
}
.projects div{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.illustrations{
    width: 35vw;
    height: 25vh;
}

.illustrations:hover{
    transform: scale(1.1);
    transition: .2s ease;
}

.about{
    height: 100vh;
    width: 80vw;
    margin: auto;
    /* background-image: linear-gradient(rgba(148, 146, 146,0.3),rgb(187, 183, 183, 0.3)),url(https://res.cloudinary.com/helencee/image/upload/e_saturation:-71,q_66/v1567006134/first%20images/code_background_g1i892.png); */
    
    /* display: flex; */
    /* justify-content: center; */
    /* align-content: center; */
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.about-me{
    background-image: url("https://res.cloudinary.com/helencee/image/upload/v1575890818/Images_for_my_website/ipad-iphone-5-macbook-air-and-apple-magic-mouse-on-a-desk-with-a-cup-GHRG5W_pbg1r1.jpg");
    background-attachment: fixed;
    background-position: center;
}

.me{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(19, 67, 122, 0.9);
    color: white;
}

#contact{
    /* display: flex; */
    width: 80vw;
    height: 100vh;
    margin-top: 5vh;
    margin: auto;
}

form{
   /* border: 1px solid grey; */
   height: 80vh;
   box-shadow: 0px 2px 2px 2px rgb(133, 131, 131, 0.5);
   margin-top: 10vh;
   padding-bottom: 5vh;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.form-h1{
    text-align: center;
    font-size: 1.5rem;
    padding-top: 8vh;
    padding-bottom: 5vh;
}


input{
    width: 45vw;
    height: 5vh;
}

.input{
    margin-bottom: 2vh;
}

#form-message{
    height: 20vh;
    text-align: top;
    
}
